
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}
:root{
    --main-bg: #1e272e;
    --main-color: #0097e6;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.row{
    margin: 0%;
}
.main-menu{
    background-color: var(--main-bg);
}
.main-menu .navbar{
    background-color: var(--main-bg);
    color: #fff;
    padding: 2rem 0;
}
.main-menu .navbar li{
    margin-left: 20px;
}
.main-menu .navbar a{
    color: #fff;
    font-size: 1.8rem;
}
.main-menu .navbar a:hover{
    color: var(--main-color);
}
.navbar-toggler{
    background-color: gray;
}

/* Main Header Section Start */
.main-header-left{
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main-header-left p,
.main-header-right p{
    font-size: 2rem;
}
.main-header-left h1,
.main-header-right h1{
    font-size: 2.6rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}
.main-header-left h1 span,
.main-header-right h1 span{
    color: var(--main-color);
}
.main-header-left button,
.main-header-right button{
    border: none;
    outline: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
}
.main-header-left button:hover,
.main-header-right button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
}
.main-header-right{
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main-header-left figure img{
    /* filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.3)); */
    width: 60%;
}
.errimg img{
    width: 70rem;
    height: 40rem;
}

/* Weather Page */
.temp-form{
    width: 60%;
    position: relative;
    margin: 5rem auto 6rem;
}
.temp-form input[type="text"] {
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    background: #1e202b;
    color: #fff;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem;
}
::placeholder{
    color: #fff;
}
.temp-form input[type="submit"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background: #009ad8;
    padding: 0 3rem;
    border-radius: 3rem;
    color: #fff;
    font-size: 1.6rem;
}
.temp-form input[type="submit"]:hover {
    color: #009ad8;
    background-color: #fff;
}
.temp-information{
    width: 40rem;
    margin: auto;
    min-height: 20rem;
    background-color: #888;
    border-radius: 1rem;
    font-family: sans-serif;
}
.top-layer{
    width: 100%;
    height: 20%;
    background-color: #888;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}
.top-layer p{
    color: #fff;
    font-weight: 300;
    padding: 2rem;
}
.main-layer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.main-layer #city_name{
    padding: 2rem 0;
    color: #bfc1c8;
    font-weight: 300;
    font-size: 2rem;
}
.main-layer .middle-layer{
    display: flex;
    justify-content: space-around;
    color: #fff;
}
.main-layer .middle-layer p,
.main-layer .middle-layer .fas{
    font-size: 6rem;
    font-weight: 900;
}

sup{
    font-size: 6rem;
    margin-top: -2rem;
}
.data_hide{
    visibility: hidden;
    transition: all 0.3s linear;
}
/* Footer Section start */
footer{
    width: 100%;
    background: var(--main-bg);
    margin-top: auto;
}
footer p{
    margin: 0;
    text-align: center;
    color: #fff;
    line-height: 5rem;
    font-size: 1.4rem;
}

/* Responsive Code */
@media (max-width: 768px) {
    .main-header-left{
        height: auto;
        margin: 5rem 0;
    }
    .main-header-right{
        height: auto;
        margin-top: 3rem;
    }
}
